body {
  color: #4C4C4C;
  font-family: PT Serif, sans-serif;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: #000000;
}

img {
  float: left;
  margin: 0px 15px 15px 0px;
  width: 20%;
}

section {
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

em {
  color: #000000;
  font-weight: bold;
}

ul {
  list-style-type: square;
}

h1,
h2 {
  text-transform: uppercase;
}

h2,
h3 {
  font-size: 18px;
  margin-bottom: 0;
}

h4 {
  font-size: 16px;
  font-style: italic;
  line-height: 1;
  margin-top: 0;
}

.summary {
  clear: left;
  font-size: large;
}

.simple-ul {
  list-style: none;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  body {
    max-width: 700px; 
  }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  body {
    max-width: 560px; 
  }
}

@media screen and (max-width: 599px) {
  body {
    margin: 0 10px; 
  }
}